* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'microsoft yahei'; */
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
  outline-width: 0ch;
}

.ml_mb_nav i {
  position: relative;
}

.ml_mb_nav i::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -11px;
  background-color: var(--main-color);
  top: 0px;
}
